*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    width:100vw;
    height:100vh;
}
.container{
    height:100%;
    width:100%;
    background-color: rgb(8, 8, 63);
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows:  0.4fr 0.7fr repeat(2,1fr);
    gap:1rem;
    padding: 1.5em;
}
.item{
    background-color: aqua;
    border: 10px solid darkviolet;
}
.item1{
    display: flex;
    flex-direction: row;
    gap:1%;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 4;
    
}
.item1 a{
    height:60%;
    width: 6%;
    background-color: aqua;
    border-radius:100% ;
    border: 10px solid darkviolet;
}
.item1 .header{
    height:65%;
    width: 91%;
    background-color: aqua;
    border: 10px solid darkviolet;
}
.content1{
    grid-column-start: 1;
    grid-column-end: 4;
}
.content2{
    grid-row-start: 3;
    grid-row-end: 5;
}
.content3{
    grid-column-start: 2;
    grid-column-end: 4;
   
}
